<div>
  <div class="row">
    <div class="col-12">
    <nav class="nav nav-tabs small justify-content-start mr-3 boss-tabs">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./nearly']" routerLinkActive="active">Nearly</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./bs']" routerLinkActive="active">BS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./caught']" routerLinkActive="active">Caught</a>
      </li>
    </nav>
  </div>
  </div>
  <router-outlet></router-outlet>
</div>

